<div>
	<div>
		<p>
			<a href="/categories/<%= category.id %>/names"><%= category.name %></a>
		</p>
	</div>
	<div>
		<%- include("./Modals/Category/editCategoryModal", {category: category}) %>
		<%- include("./Modals/Category/deleteCategoryModal", {category: category}) %>
	</div>
</div>
