<div>
    <div>
        <p><%= name.name %></p>
        <p>meaning- <%= name.meaning.toLowerCase() %></p>
    </div>
    <div>
        <%- include("./Modals/Name/editNameModal", {name: name, categories: categories, category_id: category_id}) %>
        <%- include("./Modals/Name/deleteNameModal", {name: name, category_id: category_id}) %>
    </div>
</div>