<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/category.css"
		/>
		<title>Categories</title>
	</head>
	<body>
		 <%- include("partials/navbar") %>
		<div class="title">
			<h1>Explore Categories</h1>
			<%- include("partials/Modals/Category/categoryModal") %>
		</div>

		<div class="categories">
			<% categories.forEach((category) => { %> 
				<%- include('partials/category', {category: category}) %>
			 <%}) %>
		</div>
	</body>
</html>

