<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Categories</title>
	</head>
	<body>
		<div>
			<h1>Explore Categories</h1>
			<button
				class="modal-toggle-btn"
				onclick="document.getElementById('add-category-modal').style.display='flex'"
			>
				Add Category
			</button>
			<%- include("partials/categoryModal", {btn1: "Add Category", title:
			"Create New Category", action: "/categories", method: "POST", cta:
			"CREATE", modalId: "add-category-modal"}) %>
		</div>

		<div>
			<% categories.forEach(category => { %> <%- include('partials/category',
			{category: category}) %> <%}) %>
		</div>
	</body>
</html>
