<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Names</title>
		<link
			rel="stylesheet"
			href="/category.css"
		/>
		<link
			rel="stylesheet"
			href="/name.css"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
		<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

	</head>
	<body>
		 <%- include("partials/navbar") %>
		<div class="title">
			<h1><%= (category_name) ? category_name : "All" %> Names</h1>
			<%- include("partials/Modals/Name/nameModal", {categories: categories, category_id: category_id}) %>
		</div>
		
		<% if(names.length === 0){ %>
			<p style="text-align: center; font-size: large;">No Names Added Yet...</p>
		<% } else { %>
			<div class="name-container">
			<% names.forEach(name => { %> <%- include('partials/name', {name: name, categories: categories, category_id: category_id})
			%> <%}) %>
		</div>
		<% } %>
		
		<script>
			const choices = new Choices('#choices-multiple', {
				removeItemButton: true,
				placeholderValue: 'Select options',
				searchEnabled: true
			});
		</script>

	</body>

</html>
