<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Names</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
		<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

	</head>
	<body>
		<div>
			<h1><%= category_name %> Names</h1>
			<%- include("partials/nameModal", {categories: categories}) %>
		</div>
		
		<% if(names.length === 0){ %>
			<p>No Names Added Yet...</p>
		<% } else { %>
			<div>
			<% names.forEach(name => { %> <%- include('partials/name', {name: name, categories: categories})
			%> <%}) %>
		</div>
		<% } %>
		
		<script>
			const choices = new Choices('#choices-multiple', {
				removeItemButton: true,
				placeholderValue: 'Select options',
				searchEnabled: true
			});
		</script>

	</body>

</html>
