<link rel="stylesheet" href="/categoryModal.css">
<link
			rel="stylesheet"
			href="/category.css"
		/>
    
<button class="delete-btn" title="Delete" onclick="openModal('deleteCategory-modal-<%= category.id %>')">
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#eb2424"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
</button>

<div id="deleteCategory-modal-<%= category.id %>" class="modal" aria-hidden="true" style="display: none;">
  <div class="modal-box">  
    <h3>Are you sure?</h3>
    <form class="modal-form" action="/categories/<%= category.id %>?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        
        <div class="btns">
        <button class="modal-close-btn" type="button" onclick="closeModal('deleteCategory-modal-<%= category.id %>')">NO</button>
        <button class="submit-btn" type="submit">YES</button>
    </div>
        
    </form>
  </div>
</div>

<script>
  function openModal(id) {
    const modal = document.getElementById(id);
    modal.style.display = 'flex';
    modal.setAttribute('aria-hidden', 'false');
  }

  function closeModal(id) {
    const modal = document.getElementById(id);
    if (document.activeElement) document.activeElement.blur();
    modal.style.display = 'none';
    modal.setAttribute('aria-hidden', 'true');
   
  }
</script>
