@import url(variables.css);

nav {
	margin: 3em auto;
	background-color: var(--lavender);
	border-radius: 2em;
	max-width: fit-content;
    font-family: "Cal Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

ul {
	display: flex;
	justify-content: center;
	gap: 1.5em;
	padding-inline: 1.7em;
	padding-block: 1em;
}

li {
	list-style: none;
    cursor: pointer;
}

li > a {
    text-decoration: none;
    color: var(--purple);
    position: relative;
	outline: none !important;
	text-transform: uppercase;
	transition: 0.2s;
}

li > a::after {
	content: "";
	background-color: var(--black);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}

li > a:hover,
li > a:focus {
	color: var(--dark-blue);
}

li > a:hover::after,
li > a:focus::after {
	background-color: var(--dark-blue);
	width: 100%;
}
