@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #FBFAFB;
  --black: #08080C;
  --lavender: #d1aee6ec;
  --light-pink: #F5C3D6;
  --pink:  #F0A0BD;
  --light-blue: #BDE0FE;
  --blue: #A2D2FF;
  --dark-blue: #0a3c66;
  --brown: #7D4F50;
  --purple: #2E2D4D;
  --lavender-dark: #CDB4DB;
}
