:root {
  --white: #FBFAFB;
  --black: #08080C;
  --lavender: #d1aee6ec;
  --light-pink: #F5C3D6;
  --pink:  #F0A0BD;
  --light-blue: #BDE0FE;
  --blue: #A2D2FF;
  --dark-blue: #042D4F;
  --brown: #7D4F50;
  --purple: #2E2D4D;
  --lavender-dark: #CDB4DB;
}
